<div class="max-w-3xl mx-auto flex w- flex-col justify-around items-center space-y-10">
  <h1 class="font-bold text-4xl mb-2">Post application</h1>
  <p class="text-2xl font-semibold" >A blazing fast post app built with Hotwire</p>

  <div>
    <% if user_signed_in? %>
       <%= link_to "View Posts", posts_path, class: "bg-black rounded-sm text-white hover:bg-green-400 text-bold font-medium text-center px-8 py-4" %>
    <% else %>
       <%= link_to "Sign In", new_user_session_path, class: "bg-black rounded-sm text-white hover:bg-green-400 text-bold font-medium text-center px-8 py-4" %>
    <% end %>
  </div>
</div>
