<div class="max-w-lg mx-auto">
  <h1 class="font-bold text-4xl mb-10">View Post</h1>
    <%= render "post", post: @post %>

    <div>
      <%= link_to "Go to posts", posts_path, class: "py-1 px-4 bg-black text-white rounded-sm font-bold font-medium hover:bg-green-400 h-8 text-center block mt-10" %>
    </div>
  </div>
 
</div>
